# ================================
# Environment
# ================================

.env
**/.env


# ================================
# Python
# ================================

__pycache__/
*.py[cod]

.venv/
venv/


# ================================
# Java
# ================================

target/

*.class


# ================================
# IntelliJ IDEA
# ================================

.idea/
*.iml


# ================================
# VS Code
# ================================

.vscode/


# ================================
# Node
# ================================

node_modules/
dist/


# ================================
# System
# ================================

.DS_Store
Thumbs.db


# ================================
# Logs
# ================================

*.log